<h1> Street address to coordinates calculation </h1>

<form action="/street_to_coords/results">
<label for="giraffe"> Street Address </label>
<input id="giraffe" type="text" placeholder="Enter the address" name="user_address">
<button> Lookup Coordinates! </button>
</form>