<form action="/coords_to_weather/results">
<label for="giraffe"> Latitude </label>
<input id="giraffe" type="text" placeholder="Enter the latitude" name="user_latitude">
<label for="zebra"> Longitude </label>
<input id="zebra" type="text" placeholder="Enter the longitude" name="user_longitude">
<button> Lookup Weather! </button>
</form>