<h1> New addition </h1>

<form action="/wizard_add">
<label for="giraffe"> Add this: </label>
<input id="giraffe" type="text" name="first_num">
<label for="tango"> to this: </label>
<input id="tango" type="text" name="second_num">
<button> Add! </button>
</form>