<h1> New multiplication </h1>

<form action="/wizard_multiply">
<label for="giraffe"> Multiply this: </label>
<input id="giraffe" type="text" name="first_num">
<label for="tango"> by this: </label>
<input id="tango" type="text" name="second_num">
<button> Multiply! </button>
</form>