<h1> New subtraction </h1>

<form action="/wizard_subtract">
<label for="giraffe"> Subtract this: </label>
<input id="giraffe" type="text" name="first_num">
<label for="tango"> from this: </label>
<input id="tango" type="text" name="second_num">
<button> Subtract! </button>
</form>